<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.hzero.order.hzeroorder24870.infra.mapper.HodrCompanyMapper">

    <select id="selectHodrCompanyList" resultType="org.hzero.order.hzeroorder24870.domain.entity.HodrCompany">
        select * FROM hodr_company
        <where>
            <if test="companyId != null and companyId != ''">
                AND company_id = #{companyId}
            </if>
            <if test="companyNumber != null and companyNumber != ''">
                AND company_number = #{companyNumber}
            </if>
            <if test="companyName != null and companyName != ''">
                AND company_name = #{companyName}
            </if>
            <if test="enabledFlag != null and enabledFlag != ''">
                AND enabled_flag = #{enabledFlag}
            </if>
        </where>
    </select>

    <select id="selectOneByCompanyNumber" resultType="org.hzero.order.hzeroorder24870.domain.entity.HodrCompany">
        SELECT * FROM hodr_company WHERE company_number = #{companyNumber}
    </select>
</mapper>
